In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('Concrete_Data.xls')

In [3]:
df

,Cement (component 1)(kg in a m^3 mixture),Blast Furnace Slag (component 2)(kg in a m^3 mixture),Fly Ash (component 3)(kg in a m^3 mixture),Water (component 4)(kg in a m^3 mixture),Superplasticizer (component 5)(kg in a m^3 mixture),Coarse Aggregate (component 6)(kg in a m^3 mixture),Fine Aggregate (component 7)(kg in a m^3 mixture),Age (day),"Concrete compressive strength(MPa, megapascals)"
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.986111
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.887366
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.269535
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.052780
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.296075
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.284354
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.178794
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.696601
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.768036
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.401235

In [4]:
df.rename(columns={'Cement (component 1)(kg in a m^3 mixture)':'cement',
                  'Blast Furnace Slag (component 2)(kg in a m^3 mixture)':'blastfurnace',
                  'Fly Ash (component 3)(kg in a m^3 mixture)':'flyash',
                  'Water  (component 4)(kg in a m^3 mixture)':'water',
                   'Superplasticizer (component 5)(kg in a m^3 mixture)':'superplaster',
                  'Coarse Aggregate  (component 6)(kg in a m^3 mixture)':'coarse',
                  'Fine Aggregate (component 7)(kg in a m^3 mixture)':'fineaggregate',
                  'Age (day)':'age','Concrete compressive strength(MPa, megapascals) ':'ccs'},inplace=True)

In [5]:
df

,cement,blastfurnace,flyash,water,superplaster,coarse,fineaggregate,age,ccs
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.986111
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.887366
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.269535
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.052780
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.296075
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.284354
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.178794
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.696601
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.768036
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.401235

In [6]:
df.drop_duplicates(keep=False,inplace=True)

In [7]:
df

,cement,blastfurnace,flyash,water,superplaster,coarse,fineaggregate,age,ccs
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.986111
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.887366
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.269535
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.052780
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.296075
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.284354
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.178794
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.696601
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.768036
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.401235

## MIN MAX SCALING

In [8]:
a=-1 #initializing for indexing purpose

for i in range(len(df.columns)):# iterates till every column of the data frame
    a+=1
    
    b=df.columns[a] # returns the column name of the data frame
    
    c=df[b] # returns all the data of the specific data column
    
    maxx=c.max()
    minn=c.min() # collecting max and min values of particular column
    
    e=[]
    
    for j in c: #  applying min max algorithm 
        
        d=(j-minn)/(maxx-minn) # formulae [X=(Xâˆ’Xmin)/(Xmaxâˆ’Xmin)].
        
        e.append(round(d,2)) # appending to empty list
    
    
    df[b]=e #finally replacing the actual values  with the min max scaling results

In [9]:
df.head()

,cement,blastfurnace,flyash,water,superplaster,coarse,fineaggregate,age,ccs
0,1.00,0.00,0.0,0.32,0.08,0.69,0.21,0.07,0.97
1,1.00,0.00,0.0,0.32,0.08,0.74,0.21,0.07,0.74
2,0.53,0.40,0.0,0.85,0.00,0.38,0.00,0.74,0.47
3,0.53,0.40,0.0,0.85,0.00,0.38,0.00,1.00,0.48
4,0.22,0.37,0.0,0.56,0.00,0.52,0.58,0.99,0.52